@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --c1: #3b82f6;
  --t1: #ffffff;
  --t2: #9ca3af;
  --bg1: #111827;
  --bg2: #1f2937;
  --bg3: #374151;
}

/* Table Head */
.myTable .ant-table-thead > tr > th {
  background: var(--bg3);
  color: var(--t1);
  border-color: var(--c1);
}

/* Table Body */
.myTable tbody tr td {
  background-color: var(--bg2) !important;
  color: var(--t2) !important;
  border-color: var(--t2) !important;
}
.myTable tbody tr:hover td {
  background-color: var(--bg3) !important;
  color: var(--t1) !important;
  border-color: var(--t1) !important;
}
.myTable tbody tr td .ant-empty-description {
  color: var(--t1);
}

/* Next and Prev icon */
.myTable .ant-pagination-item-link {
  color: var(--t2) !important;
}
.myTable .ant-pagination-item-link:hover {
  color: var(--t1) !important;
}

/* Table Pagination item */
.myTable .ant-pagination-item a {
  color: var(--t2) !important;
}
.myTable .ant-pagination-item a:hover {
  color: var(--t1) !important;
}

/* Table Active Pagination Item */
.myTable .ant-pagination-item-active {
  background-color: var(--bg3) !important;
  border-color: var(--c1) !important;
}
.myTable .ant-pagination-item-active a {
  color: var(--t1) !important;
}

.myFormItem .ant-form-item-label > label {
  color: var(--t1) !important;
}
