@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --c1: #3b82f6;
  --t1: #ffffff;
  --t2: #9ca3af;
  --bg1: #111827;
  --bg2: #1f2937;
  --bg3: #374151;
}

.my-table .ant-table-thead > tr > th {
  background: var(--bg3);
  color: var(--t1);
  border-color: var(--c1);
}

.my-table .ant-table-tbody > tr > td {
  border-color: var(--t2);
  background: var(--bg2);
  color: var(--t2);
}

.my-table .ant-table-tbody > tr.ant-table-row:hover > td {
  background: var(--bg2);
  color: var(--t1) !important;
}

.my-table .ant-pagination-item-link {
  color: var(--t2) !important;
}

.myFormItem .ant-form-item-label > label {
  color: var(--t1) !important;
}
