@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: hsla(214, 82%, 44%, 1);
    --secondary: hsla(214, 82%, 34%, 1);
    --tertiary: hsla(104, 96%, 36%, 1);
    --text-primary: #FFF;
    --text1: hsla(214, 82%, 15%, 1);
    --text2: hsla(214, 82%, 25%, 1);
    --text3: hsla(214, 82%, 35%, 1);
    --text4: hsla(214, 82%, 45%, 1);
    --accent1: hsla(214, 82%, 96%, 1);
    --bg0: hsla(214, 82%, 100%, 1);
    --bg1: hsla(214, 82%, 96%, 1);
    --bg2: hsla(214, 82%, 92%, 1);
    --bg3: hsla(214, 82%, 88%, 1);
    --bg4: hsla(214, 82%, 84%, 1);
    --bg5: hsla(214, 82%, 80%, 1);
    --bg6: hsla(214, 82%, 76%, 1);
    --bg7: hsla(214, 82%, 72%, 1);
    --bg8: hsla(214, 82%, 68%, 1);
    --bg9: hsla(214, 82%, 64%, 1);
}

.my-table .ant-table-thead > tr > th {
    background: var(--bg1);
    color: var(--text1);
    border-color: var(--bg7);
}

.my-table .ant-table-tbody > tr > td {
    border-color: var(--bg3);
    background: white;
}

.my-table .ant-table-tbody > tr.ant-table-row:hover > td {
    background: var(--bg1);
    color: var(--text2) !important;
}

.my-table .ant-pagination-item-link {
    color: var(--text1) !important;
}